@font-face {
    font-family: Montserrat;
    src: url("./resources/fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url("resources/fonts/Montserrat-Italic-VariableFont_wght.ttf");
    font-style: italic;
}
